@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  animation-duration: 0.5s;
}

/* FOR GR ICON */
.icon path {
  stroke: #fff;
}

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'patua';
  src: url('./assets/fonts/Patua_One/PatuaOne-Regular.ttf');
}
@font-face {
  font-family: 'source-sans';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
